body {
	background: white url("images/stripes.jpg") repeat-x; 
}	

@font-face {
    font-family: 'lobster1';
    src: url('fonts/lobster1.woff') format('woff');
}

@font-face {
    font-family: 'INDUBITA-webfont'; 
    src: url('fonts/INDUBITA-webfont.woff');
}

img#betty {
	float: right; 
	margin-right: 50px; 
}

img#icon {
	position: absolute;
	top: 33px;
	left: 50px; 
	font-family: Lobster1; 

}

h1 {
	font-size: 50px; 
	color: white; 
	position: absolute;
	top: 50px;
	left: 150px; 
	font-family: lobster1; 
	font-size: 55px; 
}

#container {
	border: 1px solid #62BEE7;
	border-radius: 0px 0px 20px 20px; 
	border-top: none; 
	width: 522px; 
	height: 395px; 
	position: relative;
	top: 128px; 
	left: 125px;
	background-color: #EEF2FF; 
	font-family: Arial, sans-serif; 
	font-size: 16px; 
	line-height: 26px; 
	padding: 20px 40px;  
	margin-bottom: 30px;  
}

#display {
	padding: 0 0 10px 0; 
}

#input {
	padding: 20px 0px;
	width: 440px;
	height: 75px; 
	margin: auto; 
}



#userEntry {
	height: 45px;
	width: 432px; 
	font-size: 25px;
	padding-left: 10px;
	border: 1px solid #62BEE7; 
	border-radius: 15px; 

}

#userEntry:focus {
	outline: none; 
}

#submit {
	height: 35px; 
	width: 50px;
	float: right; 
	position: relative; 
	top: -42px; 
	margin-right: 4px; 
	background-color: #62BEE7; 
	border: none; 
	border-radius: 10px; 
	outline: none; 
}

#submit:hover {
	background-color: #58AACF; 
}

p.feedback {
	margin-left: 15px; 
	font-style: italic; 
	color: #F71E4D;
	display: none;
}


h2.retro {
	font-family: 'INDUBITA-webfont'; 
	font-size: 25px;
	color: #62BEE7;
	width: 250px; 
	text-align: center; 
	margin: auto; 
	 
}

ul {
	width: 400px; 
	margin: auto; 	
}

img.retro{
	padding-right: 10px; 
}

li.retro {
	font-family: 'INDUBITA-webfont'; 
	font-size: 48px;
	color: #F71E4D;
	margin-top: 20px;
	margin-bottom: 40px;  
}

.strike {
	text-decoration: line-through;
	opacity: .5; 
}

